<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.miniclaw.board-web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/michaeloneal/.nvm/versions/node/v24.9.0/bin/node</string>
    <string>/Users/michaeloneal/.openclaw/miniclaw/plugins/mc-board/web/node_modules/next/dist/bin/next</string>
    <string>start</string>
    <string>-p</string>
    <string>4220</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/michaeloneal/.openclaw/miniclaw/plugins/mc-board/web</string>
  <key>RunAtLoad</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>4220</string>
    <key>NODE_ENV</key>
    <string>production</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/board-web.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/board-web.err</string>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
